@media (max-width: 1531px) {

    .footer {

        background-image: url('../img/footer-bg-768.png');

        &__basement {

            padding: 35px 0;

            .logo,
            .contacts-n-terms {
                display: none;
            }

            .social-networks {
                width: 100%;
            }
        }

        &__content {
            padding-top: 128px;
        }
    }

    .download-app {
        flex-direction: column;
        align-items: center;

        &__icon {
            width: 130px;
            height: 137px;

            background-image: url('../img/download-768.png');

            margin-bottom: 82px;
        }

        &__title {
            font-size: 80px;
            letter-spacing: 4.85px;

            &::after {
                width: 25%;

                top: 65%;
            }
        }

        &__sub-title {
            text-align: center;
        }
    }
}