.main {
    align-items: stretch;
}

.skills {
    padding-top: 30px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        
        padding: 10px 40px;

        font-size: 30px;
        color: $title-color;
        font-weight: 700;
    }

    &__name {
        text-align: center;
    }

    &__mastery {
        width: 150px;
        height: 30px;

        //position: relative;

        background-image: url('/assets/img/skills/skill-star-black.png');
        background-repeat: repeat-x;

        align-self: center;

        /*&::after {
            content: '';
            display: block;

            position: absolute;

            height: 100%;
            width: 30px;

            left: 0;
            top: 0;

            background-image: url('/assets/img/skills/skill-star-yellow.png');
            background-repeat: no-repeat;
        }*/
    }

    .mastery {

        &-1 {
            height: 30px;
            width: 30px;

            background-image: url('/assets/img/skills/skill-star-yellow.png');
            background-repeat: repeat-x;
        }

        &-2 {
            height: 30px;
            width: 60px;

            background-image: url('/assets/img/skills/skill-star-yellow.png');
            background-repeat: repeat-x;
        }

        &-3 {
            height: 30px;
            width: 90px;

            background-image: url('/assets/img/skills/skill-star-yellow.png');
            background-repeat: repeat-x;
        }

        &-4 {
            height: 30px;
            width: 120px;

            background-image: url('/assets/img/skills/skill-star-yellow.png');
            background-repeat: repeat-x;
        }

        &-5 {
            height: 30px;
            width: 150px;

            background-image: url('/assets/img/skills/skill-star-yellow.png');
            background-repeat: repeat-x;
        }
    }
}