.main {
    align-items: stretch;
}

.skills {
    padding-top: 30px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        
        padding: 10px 40px;

        font-size: 30px;
        color: $title-color;
        font-weight: 700;
    }

    &__name {
        text-align: center;
    }

    &__mastery {
        min-width: 150px;

        background-image: url('/assets/img/skills/skill-star-black.png');
        background-repeat: repeat-y;
    }
}