//@import '../variables';

.main {
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    padding-top: 30px;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;

        padding: 7px 0;

        font-size: 25px;
        font-weight: 400;
        color: $font-color;
    }

    &__type {
        color: $font-color;
        margin-right: 20px;
    }

    &__link {
        color: $title-color;

        &:hover {
            animation: pulse 1s linear infinite;
            
            @keyframes pulse {
                25% {
                    transform: scale(0.9);
                }

                75% {
                    transform: scale(1.1);
                }
            }
        }

        
    }
}