$font-stack--proxima-nova-rg: "Proxima Nova Rg", sans-serif;
$font-stack--proxima-nova-bd: "Proxima Nova Bd", sans-serif;
$font-stack--proxima-nova-sb: "Proxima Nova Sb", sans-serif;
$font-stack--proxima-nova-lt: "Proxima Nova Lt", sans-serif;