@font-face {
    font-family: 'Couture';
    src: url('../assets/fonts/couture/subset-Couture-Bold.eot');
    src: url('../assets/fonts/couture/subset-Couture-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/couture/subset-Couture-Bold.woff2') format('woff2'),
        url('../assets/fonts/couture/subset-Couture-Bold.woff') format('woff'),
        url('../assets/fonts/couture/subset-Couture-Bold.ttf') format('truetype'),
        url('../assets/fonts/couture/subset-Couture-Bold.svg#Couture-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Q-choco';
    src: url('../assets/fonts/q-choco/subset-QuiteChocolatey.eot');
    src: url('../assets/fonts/q-choco/subset-QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/q-choco/subset-QuiteChocolatey.woff2') format('woff2'),
        url('../assets/fonts/q-choco/subset-QuiteChocolatey.woff') format('woff'),
        url('../assets/fonts/q-choco/subset-QuiteChocolatey.ttf') format('truetype'),
        url('../assets/fonts/q-choco/subset-QuiteChocolatey.svg#QuiteChocolatey') format('svg');
    font-weight: normal;
    font-style: normal;
}


