@media(max-width: 767px) {

    body {
        min-width: 320px;
    }

    .container {
        padding: 0 10px;
    }

    .logo {
        font-size: 60px;
        line-height: 60px;
    }

    .navigation {
        
        &__list {
            display: flex;
            flex-wrap: wrap;
            //flex-direction: column;
            justify-content: space-around;
        }

        &__link {
            font-size: 12px;
            line-height: 12px;
            padding: 0 10px;
            border-radius: 5px;
        }
    }

    .header {

        &__head {
            padding-top: 10px;
        }

        &__title {
            font-size: 40px;
            line-height: 40px;

            max-width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        &__text {
            font-size: 16px;
            line-height: 24px;

            max-width: 100%;
            text-align: center;
        }
    }

    .request-form {
        max-width: 400px;
        width: 100%;
        height: 400px;

        &__title {
            margin: 20px auto;
        }
        
        &__button {
            width: 90%;
        }

        .checkbox-wrap {
            width: 90%;
        }
        
        .input-text {
            margin: 4px 0;
            height: 40px;
            border: 0;
            border-radius: 5px;

            &::placeholder {
                font-size: 16px;
            }
        }

        .checkbox-label {
            font-size: 16px;
        }

        .fake-cb {
            margin-right: 10px;
        }
    }

    .our-services {

        &__title {
            font-size: 40px;
            text-align: center;
        }
    }

    .services {
        justify-content: space-around;
    }

    .service {
        min-width: 170px;

        margin: 15px 15px;

        &__description {
            margin-top: 10px;
        }
    }

    .our-story {
        padding-bottom: 20px;

        &__text {
            margin: 10px 0;

            font-size: 16px;
            line-height: 20px;
        }

        &__button {
            width: 100%;
            max-width: 600px;
            
            padding: 10px 0;
        }

        
    }

    .our-story-wrap {
        flex-direction: column;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        position: static;

        padding-bottom: 20px;
    }

    .card {
        width: 90%;
        max-width: 250px;

        margin: 10px 10px;

        box-shadow: unset;

        .card__button {
            width: 90%;
        }

        .card__price {
            font-size: 60px;
        }
    }

    .testimonials {
        
        .title {
            margin-left: 0;

            font-size: 40px;
        }

        .testimonial {
            margin: 0;
            width: 100%;
            max-width: 500px;

            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            &__content {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 10px;
            }

            &__text {
                text-align: center;
                max-width: 100%;
            }

            &__sign {
                max-width: 100%;

                font-size: 18px;
            }

            &__photo {
                margin: 10px;
                position: static;
            }
        }
    }

    .gallery {
        width: 100%;

        .gallery {

            &__zone {
                max-width: 420px;
                margin-top: 20px;

                justify-content: center;
            }

            &__item {
                margin: 10px;
            }
        }
    }

    .footer {

        .copyright {
            padding: 10px 0;

            font-size: 10px;
        }
    }

    .footer-wrap {
        flex-direction: column;
    }
}