@import 'fonts';


$font-stack__title: 'Montserrat', sans-serif;
$font-stack__text: 'PT Serif', serif;
$font__logo: 'Q-choco';
$font__our-services: 'Couture';


$img-path: '../assets/img/';


$color__brand: #d03958;
$color__brand-2: #e3d5b8;
$color__text-ph: #b5b5b5;

