* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: $bg-color;
    color: $font-color;

    font-family: $font-stack__alegre-sans;
}

.header {
    width: 100%;
    padding: 20px 0;

    border-bottom: 1px solid #9a9a9a;

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title {
    color: $title-color;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

.text {
    color: $font-color;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

.link {
    display: inline-block;

    color: $font-color;
    font-size: 20px;
    font-weight: 600;

    padding: 10px 15px;

    &:hover {
        cursor: pointer;

        transition-duration: 1s;

        color: #fff;
    }

    &:focus {
        outline: none;
    }

    
}

.navigation {

    &__list {
        display: flex;
    }

    &__link {

        &:hover {
            transition-duration: 0.3s;
            transform: scale(1.2);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);

            color: unset;
        }

        &.active {
            color: #fff;

            transform: scale(1.2);
        }
    }
}

.disabled {
    display: none;
}