@import 'variables';

.tiny-navigation {
    display: none;
}

@media(max-width: 590px) {
    
    .navigation {
        display: none;
    }

    .tiny-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hamburger {

        &:hover &__opened {

            display: flex;
            justify-content: center;
            align-content: center;
        }

        /*&:hover &__menu-stripes {

            background-color: transparent;
            
            &:after {
                transform: translateY(0) rotate(-45deg);
            }

            &:before {
                transform: translateY(5px) rotate(45deg);
            }
        }*/

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;

            background-color: transparent;
        }

        &__menu-stripes {
            width: 100%;
            height: 5px;

            background-color: $title-color;

            &:after,
            &:before {
                content:'';

                display: block;

                height: 100%;
                width: 100%;

                background-color: $title-color;
            }

            &:after {
                transform: translateY(-17px);
            }

            &:before {
                transform: translateY(12px);
            }
        }

        &__opened {
            display: none;

            position: absolute;
            top: 0;
            left: 0;

            width: 100vw;
            height: 100vh;

            background-color: black;
        }

        &__item {
            padding: 10px 0;

            .link {
                font-size: 30px;
            }
        }
    }
}