@import 'variables';

.tiny-navigation {
    display: none;
}

@media(max-width: 590px) {
    
    .navigation {
        display: none;
    }

    .tiny-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hamburger {

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;
            height: 40px;

            background-color: transparent;
        }

        &__menu-stripes {
            width: 100%;
            height: 5px;

            background-color: $title-color;

            &:after,
            &:before {
                content:'';

                display: block;

                height: 100%;
                width: 100%;

                background-color: $title-color;
            }

            &:after {
                transform: translateY(-17px);
            }

            &:before {
                transform: translateY(12px);
            }
        }
        
        &__opened {
              
            height: 100%;
            width: 0;

            position: fixed; 
            
            left: 0;
            top: 0;

            z-index: 1;

            //background-color: rgb(0,0,0); 
            background-color: rgba(0, 0, 0, 0.9); 

            overflow-x: hidden; 

            transition: 0.5s; 
        }
        
        &__nav {
            position: relative;

            top: 25%; 

            width: 100%; 

            text-align: center; 

            //margin-top: 30px; 
        }
        
        &__close {
            position: absolute;

            top: 20px;
            right: 45px;

            font-size: 60px;
        }
    }
}