@media (max-width: 1531px) {

    .container {
        padding: 0;
    }

    .header {
        background-image: url('../img/header__bg-768.png');
    }
    
    .header__inner {
        justify-content: flex-start;
    }

    .header__header {
        width: 100%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding: 6.9010416666666% 2.60416666666667% 0;
    }

    .header__title {
        padding: 194px 11.5885416666666% 0;
    }

    .main-title {
        font-size: 64px;
        line-height: 1.25;
        text-transform: uppercase;
        letter-spacing: 4px;

        align-items: center;

        &::before {
            height: 150%;

            left: 50%;
            top: -25%;
        }

        &__second-line {
            padding-left: 14.0625%;
            z-index: 10;
        }
    }

    .header__navigation {
        padding-top: 184px;
        max-width: 800px;
    }

    .navigation {
        width: 100%;

        &__list {
            justify-content: space-around;
        }
    }

    .header__buttons {
        padding-top: 116px;
    }
}

