.header {
    width: 100%;

    background-color: #0a0e34;
    background-image: url('../img/header__bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__inner {
    min-height: 960px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 3.52480417754569%;
}

.logo {
    width: 189px;
    height: 33px;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.for-athlets {
    color: #ffffff;
    font-family: $font-stack--proxima-nova-lt;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        text-decoration: underline;
    }
}

.header__title {
    width: 100%;

    align-self: center;
    padding-top: 20.16971279373368%;
}

.main-title {
    width: 100%;

    display: flex;
    flex-direction: column;

    color: #ffffff;
    font-family: $font-stack--proxima-nova-bd;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;

    position: relative;

    &::before {
        content: '';

        width: 5px;
        height: 200%;

        position: absolute;
        left: 33%;
        top: -50%;

        transform: rotate(40deg);
        background-color: #5e42b0;

        z-index: 5;
    }
    
    &__first-line {
        align-self: flex-start;

        z-index: 10;
    }

    &__second-line {
        align-self: flex-end;
    }
    
}

.header__navigation {
    width: 100%;

    margin: 1.9582245430809% auto auto;
    display: flex;
    justify-content: flex-end;
}

.navigation {
    color: #fff;
    width: 36.9621903520208%;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: #9071ea;
        font-family: $font-stack--proxima-nova-lt;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header__buttons {
    width: 100%;

    display: flex;
    justify-content: center;

    padding-bottom: 7.1801566579634%;

    & .button:first-child {
        margin-right: 3.2594524119947%;
    }
}

.button {
    width: 311px;
    height: 77px;
    
    border: 0;
    box-shadow: 0 16px 24px #0a0e34;
    background-color: #5e42b0;
    border-radius: 35px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    &:hover .button__description {
        text-decoration: underline; 
    }

    &:focus {
        outline: none;
    }

    &__description {
        height: 100%;
        padding-left: 60px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        background-repeat: no-repeat;
        background-position-y: center;
        
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &--background-image_gplay {
            background-image: url('../img/gplay__logo.png');
        }
        
        &--background-image_apple {
            background-image: url('../img/apple__logo.png');
        }
    }

    &__first-line {
        font-family: $font-stack--proxima-nova-lt;
        font-weight: 300;
    }

    &__second-line {
        font-family: $font-stack--proxima-nova-rg;
        font-weight: 400;
    }
}