@media (max-width: 767px) {
    
    body {
        min-width: 320px;
    }

    .container {
        padding: 0 10px;
        max-width: 620px;
    }

    .header {
        background-image: url('../img/header__bg-320.png');
    }

    .header__inner {
        min-height: 100%;
    }

    .header__header {
        padding-left: 0;
        padding-right: 0;

        justify-content: center;

        .logo {
            width: 137px;
            height: 24px;

            background-image: url('../img/logo-320.png');
        }

        .for-athlets {
            display: none;
        }
    }

    .header__title {
        padding: 141px 0 0;
    }

    .main-title {
        font-size: 32px;
        letter-spacing: 2px;

        &__second-line {
            margin-top: 20px;
        }
    }

    .header__navigation {
        width: 100%;

        padding-top: 45px;
        padding-bottom: 20px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;

        justify-content: center;
        order: 1;
    }

    .navigation {

        &__list {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__item {
            margin: 3px 0;
        }

        &__link {
            padding: 0 12px;

            font-size: 12px;
            letter-spacing: 0;
        }
    }
    
    .header__buttons {
        padding-bottom: 0;
    }

    .button {
        width: 142px;
        height: 39px;

        border-radius: 20px;
        
        &__description {
            padding-left: 24px;

            font-size: 8px;

            &--background-image_gplay {
                background-image: url('../img/gplay__logo-320.png');
            }

            &--background-image_apple {
                background-image: url('../img/apple__logo-320.png');
            }
        }
    }
}