@font-face {
  font-family: "Alegre Sans";
  src: url("subset-AlegreSans-Regular.eot");
  src: url("subset-AlegreSans-Regular.eot?#iefix") format("embedded-opentype"), url("subset-AlegreSans-Regular.woff2") format("woff2"), url("subset-AlegreSans-Regular.woff") format("woff"), url("subset-AlegreSans-Regular.ttf") format("truetype"), url("subset-AlegreSans-Regular.svg#AlegreSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #2f2f2f;
  color: #8a8a8a;
  font-family: "Alegre Sans", sans-serif;
  min-width: 320px;
}

.header {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #9a9a9a;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: calc(100vh - 81px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #cacaca;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

.text {
  color: #8a8a8a;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

@media (max-width: 590px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .text {
    font-size: 15px;
    line-height: 20px;
  }
}
.link {
  display: inline-block;
  color: #8a8a8a;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
}
.link:hover {
  cursor: pointer;
  transition-duration: 1s;
  color: #fff;
}
.link:focus {
  outline: none;
}

.navigation__list {
  display: flex;
}
.navigation__link:hover {
  transition-duration: 0.3s;
  transform: scale(1.2);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  color: unset;
}
.navigation__link.active {
  color: #fff;
  transform: scale(1.2);
}

.active-page {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
}

.disabled {
  display: none;
}

.tiny-navigation {
  display: none;
}

@media (max-width: 590px) {
  .navigation {
    display: none;
  }

  .tiny-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .hamburger__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #2f2f2f;
    z-index: 20;
  }
  .hamburger__menu-stripes {
    width: 100%;
    height: 5px;
    background-color: #cacaca;
  }
  .hamburger__menu-stripes:after, .hamburger__menu-stripes:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #cacaca;
  }
  .hamburger__menu-stripes:after {
    transform: translateY(-17px);
  }
  .hamburger__menu-stripes:before {
    transform: translateY(12px);
  }
  .hamburger__opened {
    display: none;
    z-index: 10;
  }
}
.main {
  align-items: stretch;
}

.skills {
  padding-top: 30px;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__item {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  font-size: 30px;
  color: #cacaca;
  font-weight: 700;
}
.skills__name {
  text-align: center;
}
.skills__mastery {
  width: 150px;
  height: 30px;
  background-image: url("/assets/img/skills/skill-star-black.png");
  background-repeat: repeat-x;
  align-self: center;
  /*&::after {
      content: '';
      display: block;

      position: absolute;

      height: 100%;
      width: 30px;

      left: 0;
      top: 0;

      background-image: url('/assets/img/skills/skill-star-yellow.png');
      background-repeat: no-repeat;
  }*/
}
.skills .mastery-1 {
  height: 30px;
  width: 30px;
  background-image: url("/assets/img/skills/skill-star-yellow.png");
  background-repeat: repeat-x;
}
.skills .mastery-2 {
  height: 30px;
  width: 60px;
  background-image: url("/assets/img/skills/skill-star-yellow.png");
  background-repeat: repeat-x;
}
.skills .mastery-3 {
  height: 30px;
  width: 90px;
  background-image: url("/assets/img/skills/skill-star-yellow.png");
  background-repeat: repeat-x;
}
.skills .mastery-4 {
  height: 30px;
  width: 120px;
  background-image: url("/assets/img/skills/skill-star-yellow.png");
  background-repeat: repeat-x;
}
.skills .mastery-5 {
  height: 30px;
  width: 150px;
  background-image: url("/assets/img/skills/skill-star-yellow.png");
  background-repeat: repeat-x;
}

/*# sourceMappingURL=styles-my-skills.css.map */
