.main {
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    margin: 40px 0;

    width: 90%;

    text-align: left;
}

.education {
    margin-top: 40px;

    &__list {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-top: 10px;

        display: flex;
        flex-direction: column;
    }

    &__organization,
    &__specialization,
    &__degree {

        &::before {
            color: $title-color;
            font-style: normal;
        }
    }

    &__organization {
         
        &::before {
            content: 'Organization: ';
        }
    }

    &__specialization {

        &::before {
            content: 'Specalization: ';
        }
    }

    &__degree {
        &::before {
            content: 'Degree: ';
        }
    }
}