.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px 0;
}

.portfolio {

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin-bottom: 50px;

        &:hover .portfolio__image-hover,
        &:hover .portfolio__curtain {
            display: block;
        }
    }

    &__image-hover {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
    }

    &__curtain {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        display: none;

        background-color: rgba($color: #000, $alpha: 0.5);
    }

    &__tech-list {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tech-item {
        padding: 5px 10px;
        margin: 5px;

        font-weight: 700;

        border-radius: 5px;

        background-color: rgb(41, 39, 39);
        color: $font-color;
    }
}
